
.animate-slideInLeft {
    animation: slideInLeft 1s forwards;
}

.animate-slideInRight {
    animation: slideInRight 1s forwards;
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

nav {
    transition: all 0.3s ease-in-out;
}

.slide-down {
    animation: slide-down 0.5s ease-out forwards;
}

@keyframes slide-down {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}